.FaqMainContainer{
    min-height: 50vh;
    background: rgba(255, 255, 255, 0.685);    
    backdrop-filter: blur(10px) ;
    -webkit-backdrop-filter: blur(10px);
    margin: 0px;
}
.FaqMainDiv h1{
    margin: 0px;
}