.FaqMainContainer {
  background-color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.FaqMainDiv {
  background-color: #fff;
  border-radius: 1px;
  padding: 20px;
  margin: 0;
}

.faqHeading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.item {
  border: 1px solid #34A853;
  border-radius: .5rem;
  margin: 10px;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.icon::before {
    content: '+';
    margin-right: 10px;
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
  }
  
  .icon.minus::before {
    content: '-';
    
  }
  
.ques{
  display: flex;
  padding: 0rem 1rem;
  justify-content: space-between;
}

.ques h2 {
  font-size: 18px;
  margin: 0;
  color: #333;
  display: inline;
  line-height: 40px;
}

.ans {
  display: none;
  padding: 10px;
}

.ans.open {
  display: block;
}

.ans h3 {
  font-size: 16px;
  margin: 0;
  font-weight: lighter;
}
