.featuresMainContainer{
    background: rgba(255, 255, 255, 0.685);    
    backdrop-filter: blur(10px) ;
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    min-height: 80vh;
}
.features{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 0rem;
}
.features div{
    display: block;
    width: 300px;
}
.communityGuideMain{
    display: flex;
    justify-content: center;
    min-height: 40vh;
    padding: 2rem 0rem;
    background-color: rgb(121,168,247);
    color: white;
}
.communityGuideDiv{
    text-align: center;
    width: 90%;
}