
.joinUs{
    width:100%;
    display: flex;
    justify-content: center;
    height: 70vh;
    padding-top: 8rem;
}
.joinUsContent{
    width: 100%;
    background-color: white;
    height: 70vh;
    display: flex;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
   
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.685);
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    
    backdrop-filter: blur(10px) ;
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* border-top: 1px solid #4385F3 ;
    border-left: 1px solid #4385F3 ;
    border-right: 1px solid #4385F3 ; */
}
.joinUsBtn{
    background-color: #4385F3;
    padding: .8rem 2rem;
 
    color: white;
    border-radius: 1rem;
    border: 0px solid black;
    font-size: 1.2rem;
    
    
}
.joinUsWelMain{
    background: rgba(255, 255, 255, 0.685);    
    backdrop-filter: blur(10px) ;
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    text-align: center;
    padding: 3rem 0rem;
    height: 40vh;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #4385F3 ;
}
.joinUsWelContent{
    width: 70%;
}
.joinUsWelMain h1{
    font-size: 2.3rem;
    font-weight: bold;
}
.joinUsWelMain p{
    font-size: 1.3rem;
}
