* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px;
    background: rgba(255, 255, 255, 0.95); 
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .menu-enter {
    transform: translateX(-100%);
  }
  
  .menu-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
  }
  
  .menu-exit {
    transform: translateX(0);
  }
  
  .menu-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms;
  }
  